:root {
  --theme-color: #65BBE9;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
  font-family: sans-serif;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

h1.section-title {
  display: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--theme-color);
  text-decoration: none;
}

a.hidden-link {
  color: transparent;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li:before {
  content: "ãƒ»";
  color: var(--theme-color);
}

ul, li {
  display: block;        
  margin: 4px auto;      
  width: fit-content;
  background-color: #87cefa; 
  color: #fff;              
  padding: 6px 12px;
  border-radius: 5px;
  text-align: left;          
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
  margin: 0 auto;
}

tr {
  background-color: #fff;
}

tr:nth-child(2n) {
  background-color: #f9f9f9;
}

th {
  background: var(--theme-color);
  color: #fff;
}

th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.nowrap {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}

.marquee-wrap {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin: 20px 0;
  background-color: #87cefa;
}

.marquee {
  display: flex;
  width: max-content;
}

.marquee span {
  white-space: nowrap;
  padding-right: 2rem;
  font-size: 13px;
  color: #fff;
  font-family: monospace;
}

@keyframes marquee-left {
  from { transform: translateX(0); }
  to   { transform: translateX(calc(-1 * var(--move-distance))); }
}

@keyframes marquee-right {
  from { transform: translateX(calc(-1 * var(--move-distance))); }
  to   { transform: translateX(0); }
}

@media (max-width: 600px) {
  .marquee span {
    font-size: 11px;
  }
}
